<div class="container-fluid" >
	<div class="row">
		<div class="col-sm-4 col-md-3 sidebar">
			<div ng-controller="ScheduleCtlr">
				<h3>On Deck</h3>
				<p><b>Event:</b> {{event.name}}</p>
				<p><b>Date:</b> {{event.date}}</p>
				<p><b>Time:</b> {{event.time}}</p>
			</div>
			<div>
				<h3>Power Rankings</h3>
				<table class="table">
					<thead>
						<th>Player</th>
						<th>Points</th>
					</thead>
					<tbody ng-controller="PowerRankingsCtlr">
						<tr ng-repeat="entry in stats.standings">
							<td>{{entry.name}}</td>
							<td>{{entry.points}}</td>
						</tr>
					</tbody>
				</table>
			</div>
		</div>
		<div class="col-sm-8 col-sm-offset-4 col-md-9 col-md-offset-3 main" role="main">

			<div class="row bs-docs-section" style="padding-top: 50px; margin-top: -50px;" ng-controller="AnnouncementsCtrl">
				<h2 class="sub-header">Announcements</h2>
				<div>
					<p>Updated: {{announcements.Announcement[0]._date}}</p>
					<ul ng-repeat="entry in announcements.Announcement[0].Item track by $index">
						<li>{{entry}}</li>
					</ul>
				</div>
			</div>
			
			<div id="TwoDay" class="row bs-docs-section" style="padding-top: 50px; margin-top: -50px;" ng-show="showTwoDay" ng-controller="TwoDayCtlr">
			<h2 class="sub-header">Two-Day Tournament Results</h2>
			<div><strong>Day One:</strong> {{twoday.dayoneCourseName}} | <strong>Day Two:</strong> {{twoday.daytwoCourseName}}</div>
			<div class="col-md-6 table-responsive" ng-repeat="flt in ['A', 'B']">
				<h4>{{flt}}-Flight</h4>
				<table class="table table-striped">
					<thead>
						<th>Player</th>
						<th>HDCP</th>
						<th>Day 1</th>
						<th>Day 2</th>
						<th>Total</th>
					</thead>
					<tbody>
						<tr ng-repeat="score in twoday.scores | filter: {flight : flt}">
							<td>{{score.player}}</td>
							<td>{{score.handicap}}</td>
							<td>{{score.dayone}}</td>
							<td>{{score.daytwo}}</td>
							<td>{{score.totalNet}}</td>
						</tr>
					</tbody>
				</table>
			</div>	
		</div>

			<div class="row bs-docs-section" style="padding-top: 50px; margin-top: -50px;"  ng-controller="LastTournamentCtrl">
			  <h2 class="sub-header">Last Tournament : <a href="#tournaments?goToAnchor={{tournament.tournament.id}}" >{{tournament.tournament.courseName}} <span style="font-size:14px">{{tournament.tournament.date | date : format}}</span></a></h2>
			  <div class="row">
				  <div class="col-md-6 table-responsive" ng-repeat="flt in ['A', 'B']">
					<h4>{{flt}}-Flight</h4>
					<table class="table table-striped">
						<thead>
							<th>Place</th>
							<th>Player</th>
							<th>Net</th>
							<th>Points</th>
							<th>Earnings</th>
						</thead>
						<tbody>
							<tr ng-repeat="winner in tournament.winners | filter:{flt: flt}">
								<td>{{winner.place}}</td>
								<td>{{winner.player}}</td>
								<td>{{winner.net}}</td>
								<td>{{winner.points}}</td>
								<td>{{winner.earnings | currency}}</td>
							</tr>
						</tbody>
					</table>
				  </div>
			  </div>
		</div>
						
			<div class="bs-docs-section" style="padding-top: 50px; margin-top: -50px;"  ng-controller="FunniesCtrl">
				<h2 class="sub-header">Funnies
					<span style="font-size:18px; cursor:pointer" class="glyphicon glyphicon-refresh" ng-click="changeFunny()"></span>
				</h2>
				<div style="text-align:center; margin:5px">
					<img id="fun_daily" ng-src="http://ppcc.com/asgolf-assets/funnies/{{funnies[randomIndex]}}" title="{{funnies[randomIndex]}}" alt="funnies" align="center" />
				</div>	
			</div>
			
			<div class="bs-docs-section" style="padding-top: 50px; margin-top: -50px;"  ng-controller="MinutesCtrl">
				<h2 class="sub-header">Minutes <a style="font-size:14px" href="#minutes">more...</a></h2>
					<p>From: {{minutes.Minutes[0]._date}}</p>
					<ul ng-repeat="entry in minutes.Minutes[0].item track by $index">
						<li>{{entry}}</li>
					</ul>
					<p>- {{minutes.Minutes[0]._author}}</p>
			</div>

		</div>
	</div>
</div>