<div class="row">
	<div class="col-sm-3 col-md-2 sidebar">
	  <ul class="nav nav-sidebar" role="tablist">
		<li><a href="#information" data-toggle="tab">Rules</a></li>
		<li><a href="#officers" data-toggle="tab">Officers</a></li>
		<li class="active"><a href="#minutes" data-toggle="tab">Minutes</a></li>
	  </ul>
	</div>
	<div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main" role="main">
		<h1 class="page-header">Information - Minutes</h2>
		<div class="bs-docs-section" style="padding-top: 50px; margin-top: -50px;"  ng-controller="MinutesCtrl">
			<div ng-repeat="mm in minutes.Minutes track by $index">
				<p>From: {{mm._date}}</p>
				<ul ng-repeat="entry in mm.item track by $index">
					<li>{{entry}}</li>
				</ul>
				<p>- {{mm._author}}</p>
				<hr/>
			</div>
		</div>
	</div>
</div>