<div class="row">
	<div class="col-sm-3 col-md-2 sidebar">
	  <ul class="nav nav-sidebar" role="tablist">
		<li><a href="#information" data-toggle="tab">Rules</a></li>
		<li class="active"><a href="#officers" data-toggle="tab">Officers</a></li>
		<li><a href="#minutes" data-toggle="tab">Minutes</a></li>
	  </ul>
	</div>
	<div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main" role="main">
		<h1 class="page-header" ng-controller="SeasonsCtrl">Information - Officers
			<select style="font-size:18px;" class="pull-right" ng-model="season.year">
				<option ng-repeat="entry in seasons" value="{{entry}}">{{entry}}</option>
			</select>
		</h1>
		<div class="bs-docs-section" style="padding-top: 50px; margin-top: -50px;" ng-controller="OfficersCtrl">
			<div class="table-responsive col-md-12">
				<table class="table table-striped" id="officers">
					<thead>
						<th style="width: 200px;">Position</th>
						<th>Volunteer(s)</th>
					</thead>
					<tbody>
						<tr>
							<td>Tournament Chairman</td>
							<td>{{officers.TournamentChair}}</td>
						</tr>
						<tr>
							<td>President</td>
							<td>{{officers.President}}</td>
						</tr>
						<tr>
							<td>Vice-President</td>
							<td>{{officers.VicePresident}}</td>
						</tr>
						<tr>
							<td>Treasurer</td>
							<td>{{officers.Treasurer}}</td>
						</tr>
						<tr>
							<td>Secretary</td>
							<td>{{officers.Secretary}}</td>
						</tr>
						<tr>
							<td>Handicap Chairman</td>
							<td>{{officers.HandicapChair}}</td>
						</tr>
						<tr>
							<td>Awards Chairman</td>
							<td>{{officers.AwardsChair}}</td>
						</tr>
						<tr>
							<td>Web Master</td>
							<td>{{officers.Webmaster}}</td>
						</tr>
					</tbody>
				</table>
			</div>
		</div>
	</div>
</div>
